{% extends "base.html" %}
{% load static %}

{% block body %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="{% static 'img/logo-uspnap-alpha-128x89.png' %}" style="height: 64px;" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav fs-3">
                <li class="nav-item d-flex align-items-center">
                    <span class="navbar-text text-info fs-6 border border-info rounded px-2 py-1">
                        <i class="bi bi-person"></i>
                        {{ user.first_name }} {{ user.last_name|upper }}
                    </span>   
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'home' %}"><i class="bi bi-house"></i> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'password_change' %}" target="_blank"><i class="bi bi-shield-lock"></i> Mot&nbsp;de&nbsp;passe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'groups' %}"><i class="bi bi-people"></i> Groupes</a>
                </li>
                {% if user.is_board_member %}
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'admin:index' %}" target="_blank"><i class="bi bi-gear"></i> Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'help' %}"><i class="bi bi-info-circle"></i> Aide</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 d-flex flex-row">
                <li class="nav-item">
                    <a class="me-2 btn btn-outline-danger" href="https://github.com/orthose/malinedo/issues" target="_blank">
                        <i class="bi bi-bug"></i> Bug
                    </a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="bi bi-box-arrow-right"></i>
                            Déconnexion
                        </button>
                    </form>
                </li>
            </ul>
        </div>  
    </div>
</nav>
{% block content %}{% endblock %}
{% endblock %}