{% extends "booking/navbar.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container px-4 mt-3">
{% if show_history_filters %}
    <form action="{% url 'history' %}" method="get">
{% else %}
    <form action="{% url 'home' %}" method="get">
{% endif %}
        <div class="row mb-3 justify-content-start">
            <div class="col-auto align-self-center px-0">
                {{ schedule_form.mysessions }}
                <label class="btn btn-outline-primary" for="{{ schedule_form.mysessions.auto_id }}" type="button">
                        <i class="bi bi-calendar-week"></i> {{ schedule_form.mysessions.label }}
                </label>
            </div>
        </div>
        <div class="border border-2 border-secondary rounded mb-3 px-sm-3 py-3 row justify-content-center">
        {% if show_history_filters %}
            <div class="col-6 col-sm align-self-center">
                <b>{{ schedule_form.week.label_tag }}</b>
                <div class="mb-3">{{ schedule_form.week }}</div> 
            </div>
            <div class="col-6 col-sm align-self-center">
                <b>{{ schedule_form.year.label_tag }}</b>
                <div class="mb-3">{{ schedule_form.year }}</div> 
            </div>
            <div class="col align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-search"></i> Consulter
                </button>
            </div>
        {% else %}
            <h1 class="fs-2 text-center">
                {{ schedule_form.week.label }}&nbsp;{{ schedule_form.week.value }}
                {{ schedule_form.year.label }}&nbsp;{{ schedule_form.year.value }}
            </h1>
            {{ schedule_form.year.as_hidden }}
            {{ schedule_form.week.as_hidden }}
        {% endif %}
        </div>
    </form>
</div>
<div class="container-fluid p-4 pt-0">
    <div class="row justify-content-center">
    {% for weekday, sessions in weekday_sessions.items %}
        {% if sessions %}
        <div class="col-12 col-md-4 col-lg-2 mx-2 my-3 mt-0 p-0 h-100">
            <div class="bg-primary text-light text-center fs-4 fw-bold m-0 rounded-3">{{ weekday }}</div>
            {% for session in sessions %}
                <div class="rounded-3 mt-3 px-2 py-1 border border-2
                {% if session.is_cancelled %}
                bg-danger border-danger text-light
                {% elif session.swimmer_registration %}
                    {% if session.swimmer_registration.0.is_cancelled %}
                    bg-danger border-danger text-light
                    {% else %}
                    bg-success border-success text-light 
                    {% endif %}
                {% else %}
                bg-light border-secondary
                {% endif %}">
                <div class="d-flex justify-content-between align-items-center">
                    <div style="min-height: 32px;">[{{ session.group }}]</div>
                    {% if session.swimmer_registration.0.is_regular %}
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Inscription régulière">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-infinity me-1" viewBox="0 0 16 16">
                            <path d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916z"/>
                        </svg>
                    </div>
                    {% endif %}
                    {% if session.is_cancelled %}
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Séance annulée">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-lock me-1" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                <div class="text-center fw-bold">{{ weekday }} {{ session.french_date }}</div>
                <div class="fs-2 fw-bold text-center" style="word-spacing: 10px;">{{ session.start_hour|date:"H\hi" }} {{ session.stop_hour|date:"H\hi" }}</div>
                <div class="progress mb-1 mt-3" role="progressbar" aria-label="Nombre de nageurs" aria-valuenow="{{ session.registration_rate }}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar overflow-visible text-dark bg-info" style="width: {{ session.registration_rate }}%">{{ session.total_swimmers }}/{{ session.capacity }} ({{ session.registration_rate }}%)</div>
                </div>
                <div class="btn-group mt-2 mb-1 w-100" role="group">
                    <input type="checkbox" class="btn-check" id="btn-show-swimmers-{{ session.id }}" autocomplete="off">
                    <label class="btn btn-outline-{% if session.background_is_colored %}light{% else %}dark{% endif %} px-2 py-1" 
                    for="btn-show-swimmers-{{ session.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#showSwimmers{{ session.id }}" aria-expanded="false" aria-controls="showSwimmers{{ session.id }}">
                        <i class="bi bi-people-fill"></i> Nageurs
                    </label>
                {% if session.is_editable %}
                    <input type="checkbox" class="btn-check" id="btn-edit-sessions-{{ session.id }}" autocomplete="off">
                    <label class="btn btn-outline-{% if session.background_is_colored %}light{% else %}dark{% endif %} px-2 py-1" 
                    for="btn-edit-sessions-{{ session.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#editSession{{ session.id }}" aria-expanded="false" aria-controls="editSessions{{ session.id }}">
                        <i class="bi bi-pencil-square"></i> Modifier
                    </label>
                {% endif %}
                </div>
                <div class="collapse" id="showSwimmers{{ session.id }}" style="font-family: 'Ubuntu Mono';">
                {% for reg in session.coaches_registration %}
                    <div class="text-truncate overflow-hidden">
                    {% if reg.is_regular %}
                        <i class="bi bi-stopwatch-fill fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Entraîneur régulier"></i>
                    {% else %}
                        <i class="bi bi-stopwatch fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Entraîneur ponctuel"></i>
                    {% endif %}
                    {% if reg.swimmer is None %}
                        Inconnu
                    {% else %}
                        {{ reg.swimmer.first_name }}&nbsp;{{ reg.swimmer.last_name|upper }}
                    {% endif %}
                    </div>
                {% endfor %}
                {% for reg in session.swimmers_registration %}
                    <div class="text-truncate overflow-hidden">
                    {% if forloop.counter <= session.capacity %}
                        {% if reg.is_regular %}
                        <i class="bi bi-person-fill fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Nageur régulier"></i>
                        {% else %}
                        <i class="bi bi-person fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Nageur ponctuel"></i>
                        {% endif %}
                    {% else %}
                        {% if reg.is_regular %}
                        <i class="bi bi-person-fill-exclamation fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Nageur régulier excédentaire"></i>
                        {% else %}
                        <i class="bi bi-person-exclamation fs-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Nageur ponctuel excédentaire"></i>
                        {% endif %}
                    {% endif %}
                    {% if reg.swimmer is None %}
                        Inconnu
                    {% else %}
                        {{ reg.swimmer.first_name }}&nbsp;{{ reg.swimmer.last_name|upper }}
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
                {% if is_current_week %}
                <div id="editSession{{ session.id }}" class="collapse">
                    <form action="{% url 'edit' %}?next={{ request.get_full_path|urlencode }}" method="post" class="mt-2 mb-1">
                        {% csrf_token %}
                        <input type="hidden" name="session_id" value="{{ session.id }}">
                        <div class="w-100 d-flex flex-column gap-2" role="group" aria-label="Inscription">
                            {% if not session.is_cancelled %}
                            {% if not session.swimmer_registration %}
                            <button type="submit" name="is_regular" value="true" class="btn btn-outline-success">
                                <i class="bi bi-infinity fs-5"></i> Régulier
                            </button>
                            <button type="submit" name="is_regular" value="false" class="btn btn-outline-success">
                                <i class="bi bi-person-add fs-5"></i> Ponctuel
                            </button>
                            {% if has_perm_coach %}
                            <input type="checkbox" name="swimmer_is_coach" class="btn-check" id="btn-coach-{{ session.id }}" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btn-coach-{{ session.id }}" type="button">
                                <i class="bi bi-stopwatch fs-5"></i> Entraîneur
                            </label>
                            {% endif %}
                            {% else %}
                            {% if not session.swimmer_registration.0.is_cancelled %}
                            <button type="submit" name="is_cancelled" value="true" class="btn btn-danger">
                                <i class="bi bi-person-dash fs-5"></i> Annuler
                            </button>
                            {% if session.swimmer_registration.0.is_regular %}
                            <button type="submit" name="remove" value="true" class="btn btn-danger">
                                <i class="bi bi-trash fs-5"></i> Supprimer
                            </button>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<!-- Enable tooltips -->
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}